*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100%;
}

.menuBtn{
    color: rgb(66, 65, 68);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    background-color: rgb(243, 244, 246);
    z-index: 999;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    padding: 20px 5%;
}

.navbar .logo h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(66, 65, 68);
    border-bottom: 4px solid red;
    border-top: 4px solid red;
}

.navbar .nav-links li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.navbar .nav-links li a{
    display: block;
    margin-left: 20px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    color: rgb(66, 65, 68);
    font-weight: bold;
    font-size: 20px;
}

.navbar .nav-links li .active{
    border-bottom: 4px solid red;
}

.navbar .nav-links li a i{
    color: red;
}

.navbar .nav-links li a:hover{
    border-bottom: 4px solid red;
}

.navbar .cartIcon{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    right: 47px;
}

.navbar .cartIcon a{
    display: block;
    margin-left: 20px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    color: rgb(66, 65, 68);
    font-weight: bold;
    font-size: 20px;
}

.navbar .cartIcon a i{
    color: red;
}

.navbar .cartIcon a:hover{
    border-bottom: 4px solid red;
}

#cartCount{
    display: flex;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: rgb(110, 1, 1);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: 30%;
    right: -20px;
}

.content{
    background-image: url(./pics/suchima_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(66, 65, 68);
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
}

.content p{
    font-size: 50px;
    margin-top: 20px;
    font-weight: 500;
}

.content button{
    background-color: red;
    color: rgb(243, 244, 246);
    padding: 15px 30px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}

.content button:hover{
    background: transparent;
    color: red;
    border: 1px solid red;
}

.modalBox{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.342);
    top: 0;
    z-index: 1;
    display: none;
}
.modal{
    width: 70%;
    height: 83%;
    margin-top: 5%;
    background-color: whitesmoke;
    color: black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

#close{
    color: red;
    font-size: 25px;
    position: fixed;
    top: 17%;
    left: 82%;
    background-color: transparent;
    border: none;
    border-radius: 40%;
}

#close:hover{
    cursor: pointer;
    filter: drop-shadow(1px 1px 40px rgb(61, 1, 1));
}

.product{
    text-align: center;
    margin: 50px 0;
    color: black;
}

.suc{
    padding: 10px 5%;
}

.pro{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    place-items: center;
}

.productContainer{
    width: 320px;
    height: 500px;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.productContainer .desc{
    padding: 5px 20px;
    font-size: 10px;
    font-weight: 700;
    opacity: 0.8;
}

.productContainer .title{
    font-weight: 900;
    font-size: 25px;
    color: black;
    padding: 0 20px;
}

.productContainer .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.productContainer .box .price{
    font-size: 20px;
    font-weight: 700;
    color: red;
}

.productContainer .box .btn{
    background-color: red;
    color: rgb(243, 244, 246);
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}

.productContainer .box .btn:hover{
    background-color: rgb(243, 244, 246);
    color: red;
    border: 1px solid red;
}

footer{
    background-color: rgb(125, 124, 126);
    height: 10vh;
}

footer p{
    text-align: center;
    line-height: 10vh;
    font-size: 19px;
}

footer p a{
    text-decoration: none;
    color: rgb(243, 244, 246);
    font-weight: bold;
}

@media (max-width: 800px){
    .menuBtn{
        display: block;
        z-index: 999;
    }
    .menuBtn i.active::before{
        content: "\f00d";
    }
    .navbar{
        display: flex;
        align-items: center;
    }
    .navbar .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #f3f4f6;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }
    .navbar .nav-links.active{
        left: 0;
    }
    .navbar .nav-links li{
        display: flex;
        justify-content: center;
    }
    .navbar .nav-links li a{
        font-size: 23px;
        margin: 10px 0;
    }
    .content{
        background-image: none;
        background-color: #b49999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .content h1{
        font-size: 50px;
        font-weight: 700;
        color: black;
    }
}
